{
  "per_lumisection" : [
    "EventAuxiliary.id_.run_",
    "EventAuxiliary.id_.luminosityBlock_",
    "EventAuxiliary.time_.timeHigh_",
    "EventAuxiliary.time_.timeLow_",
    "LumiScalerss_scalersRawToDigi__RECO.obj.instantLumi_"
  ],

  "per_event" : {
    "calo" : {
      "read_each" : 1,
      "batch" : 64,
      "branches" : [
        "recoCaloJets_ak5CaloJets__RECO.obj.pt_",
        "recoCaloJets_ak5CaloJets__RECO.obj.eta_",
        "recoCaloJets_ak5CaloJets__RECO.obj.phi_",
        "recoCaloJets_ak5CaloJets__RECO.obj.mass_",
        "recoCaloJets_ak5CaloJets__RECO.obj.vertex_.fCoordinates.fX",
        "recoCaloJets_ak5CaloJets__RECO.obj.vertex_.fCoordinates.fY",
        "recoCaloJets_ak5CaloJets__RECO.obj.vertex_.fCoordinates.fZ"
      ]
    },

    "photons" : {
      "read_each" : 1,
      "batch" : 12,
      "branches" : [
        "recoPhotons_photons__RECO.obj.pt_",
        "recoPhotons_photons__RECO.obj.eta_",
        "recoPhotons_photons__RECO.obj.phi_",
        "recoPhotons_photons__RECO.obj.vertex_.fCoordinates.fX",
        "recoPhotons_photons__RECO.obj.vertex_.fCoordinates.fY",
        "recoPhotons_photons__RECO.obj.vertex_.fCoordinates.fZ"
      ]
    },

    "muons" : {
      "read_each" : 1,
      "batch" : 24,
      "branches" : [
        "recoMuons_muons__RECO.obj.pt_",
        "recoMuons_muons__RECO.obj.eta_",
        "recoMuons_muons__RECO.obj.phi_",
        "recoMuons_muons__RECO.obj.mass_",
        "recoMuons_muons__RECO.obj.vertex_.fCoordinates.fX",
        "recoMuons_muons__RECO.obj.vertex_.fCoordinates.fY",
        "recoMuons_muons__RECO.obj.vertex_.fCoordinates.fZ"
      ]
    },

    "PF" : {
      "read_each" : 8,
      "batch" : 1536,
      "branches" : [
        "recoPFCandidates_particleFlow__RECO.obj.pt_",
        "recoPFCandidates_particleFlow__RECO.obj.eta_",
        "recoPFCandidates_particleFlow__RECO.obj.phi_"
      ]
    }
  }
}
